doctype html 
html(lang='ru')
  head
    block meta
    title!=TITLE
    block css
  body#page-top
    block navDescriptor
    block headerSubheader
    block arguments
    block portfolio
    block boomcall
    block portfolio2
    block boomcalculate
    block phase
    block faq
    block trust
    //block boom
    block scripts
    block modalW
    block yaMap
    block yaCounter
    block errors
